/********** This is the CSS stylesheet for Assignment Solution Module 2 - WvdH **********/

/********** Base style **********/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px; 
  text-align: center;
  font-size: 175%;
}

.menu {
  background-color: gray;
  margin:10px;
  border:1px solid black;
}

.title {
   width: 100px;
   float:right;
   border: 1px solid black;
   text-align: center;
   font-size: 125%;
   float:right;
}

.content {
  margin:10px;
  margin-top:40px;
  clear:both;
}

.row {
 width: 100%;
 border: 5px;
 margin-right: auto;
 margin-left: auto;
 padding:5px;
}

#meat {
 background-color: indianred;
}  

#fish {
 background-color: lightskyblue;
}

#vegan { 
 background-color: seagreen;
}   

/********** Desktop-class devices only **********/
@media (min-width: 992px) {
 .col-lg-4 {
   float: left;
   width: 33.33%;
 }
}

/********** Tablet-class devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-6, .col-md-12 {
   float: left;
 }
 .col-md-6 {
   width: 50%;
 }
 .col-md-12 {
   width: 100%;
 }
}

/********** Mobile-class devices only **********/
@media (max-width: 767px) {.col-sm-12 {
   float: left;
   width: 100%;
 }
}

